$W: 32px;
$w: 24px;

table {
  border: solid black 3px;
  border-collapse: collapse;
  background-color: rgb(91, 91, 199);

  td {
    width: $W;
    height: $W;

    &.playable {
      background-color: cyan;
    }

    div {
      background-color: white;
      border: solid black 1px;
      border-radius: 50%;
      width: $w;
      height: $w;
      margin: ($W - $w) * 0.5;

      &.J1 {
        background-color: red;
      }

      &.J2 {
        background-color: yellow;
      }
    }
  }
}
